nav.navbar.navbar-fixed-top.bavbar-dark.navbar-expand-lg#navigacija 
    a#navbarLogo.navbar-brand.mr-0(href="/")
        i.fas.fa-cut(style="font-size:28px")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-laber="Toggle navigation")
        span.navbar-toggler-icon
    #navbarText.collapse.navbar-collapse
        ul#navbarMeniu.navbar-nav.mx-auto.text-center
            li#linkNavi(class="nav-item")
                a.nav-link(href="/") Klientams <span class="sr-only">Home</span>
            li#linkNavi.nav-item
                a.nav-link(href="/") Kirpejoms
            li#linkNavi.nav-item
                a.nav-link(href="/") About
        ul.nav.navbar-nav.justify-content-center.flex-row.fex-nowrap
            li.nav-item
                a#navSocial.nav-link(target="_blank" href="https://www.facebook.com/erlandasz/")
                    i.fab.fa-facebook-f(style="font-size:28px")
            li.nav-item
                a#navSocial.nav-link(target="_blank" href="https://www.instagram.com/")
                    i.fab.fa-instagram(style="font-size:28px")
            li.nav-item
                a#navSocial.nav-link(target="_blank" href="https://twitter.com/")
                    i.fab.fa-twitter(style="font-size:28px")