extends layout
block content
  .reservation(ng-controller="ReservationController")
    form(ng-submit="saveReservation()")
            .row(ng-show="!reservationSuccess")
                .col-md-6.col-xs-12
                    .form-group 
                        .row-md-4 1.
                            input.form-control(type="text" placeholder="Vardas" ng-model="reservation.name" name="name" required)
                            p.text-danger {{ error }}
                        .row-md-4 2.
                            select.somethingSomething.selectpicker.form-control(ng-model="reservation.barber" ng-options="barber._id as barber.name for barber in barbers" required)
                                option(value="" disabled selected hidden) Kirpeja(s)
                        .row-md-4 4.
                            select.somethingSomething.selectpicker.form-control(ng-model="reservation.hour" required)
                                option(value="" disabled selected hidden) Rinktis laiką
                                option(ng-repeat="time in allTimes" ng-disabled="!time.available") {{ time.available ? time.time : time.time + ' - reserved -'}}
                .col-md-6.col-xs-12
                    .col-md-4 3.
                        .well.well-sm(uib-datepicker ng-model="reservation.date" datepicker-options="datePickerOptions" required)


            .col
                .form-group 
                    .col.registrationButton
                        input.registrationButton.btn.btn-primary(type="submit" value="Registruotis" name="Done") 
            .form-group
            .row        
    .row(ng-show="reservationSuccess")
            div.col-md-3.text-success Rezervacija sėkminga!
            div.col-md-3 {{ reservation.name }}
            div.col-md-3 {{ reservation.time | date:"yyyy-MM-dd HH:mm" }}
            div.col-md-3 {{ barber.name}}
    hr

       