extends layout
block content
  .reservation(ng-controller="ReservationController")
    form(ng-submit="saveReservation()")
            .row(ng-show="!reservationSuccess")
                .form-group 
                    input.form-control(type="text" placeholder="Vardas" ng-model="reservation.name" name="name")
                    p.text-danger {{ error }}
                .col-md-2(ng-controller="BarberController")
                    select.somethingSomething.selectpicker.form-control(ng-model="filter.barber" ng-options="barber.name for barber in barbers")
                        option(value="" disabled selected hidden) Kirpeja(s)
                .col-md-4
                    .well.well-sm(uib-datepicker ng-model="reservation.date" datepicker-options="datePickerOptions" required)
                .col-md-2
                    .well.well-sm(ng-show="reservation.date" minute-step="[15]" uib-timepicker show-meridian="false" ng-model="reservation.time" datepicker-options="timePickerOptions")
                
            .form-group 
            .row
                    
                    .col.registrationButton
                    input.registrationButton.btn.btn-primary(type="submit" value="Registruotis" name="Done") 
            .form-group
            .row        
    .row(ng-show="reservationSuccess")
            div.col-md-3.text-success Rezervacija sėkminga!
            div.col-md-3 {{ reservation.name }}
            div.col-md-3 {{ reservation.time | date:"yyyy-MM-dd HH:mm" }}
            div.col-md-3 {{ barber.name}}
    hr

       