extends layout

block content
	h1 Kirpėjoms
	hr
	.barber(ng-controller="BarberController")
			h3 Kirpėjos
			hr
			.row
				.col-md-6
					.row(ng-repeat="barber in barbers" ng-cloak)
						.col-md-8.border-bottom
							p {{ barber.name }}
						.col-md-4
							button(type="button" ng-click="deleteBarber(barber._id)").btn.btn-danger Pašalinti
				.col-md-6.form-group
					form(ng-submit="addBarber()")
						.form-group
							input.form-control#barberName(name="barberName" ng-model="newBarber.name" ng-required placeholder="Naujo kirpėjo/os vardas")
							button.btn.btn-primary(type="submit") Pridėti kirpeją
			hr
			h3 Rezervacijos
			hr
			.form-group
				.row
					.col-md-6
						select.form-control(ng-model="filter.barber" ng-options="barber._id as barber.name for barber in barbers")
							option#firstOption(ng-value="" selected) Visi
					.col-md-6
						input.form-control(ng-model="filter.search" placeholder="Ieškoti rezervacijos")
				.row
					.col-md-3.tableTop Vardas:
					.col-md-2.text-center.tableTop Diena:
					.col-md-2.text-center.tableTop Laikas:
					.col-md-3.text-center.tableTop Kirpėja(s):
					.col-md-2.text-center.tableTop Ištrinti:
				.row.border-bottom(ng-repeat="r in reservations | filter:filter.search | filter: filter.barber")
					.col-md-3 {{r.name}}
					.col-md-2.text-center {{r.time | date:'MM-dd'}}
					.col-md-2.text-center {{r.time | date:'HH:mm' }}
					.col-md-3.text-center {{r.barber.name}}
					.col-md-2.text-center
						i.fas.fa-user-minus(type="button" ng-click="deleteReservation(r._id)") 