doctype html
html(ng-app="app")
  head
    title Kirpykla
    script(type="text/javascript" src="./javascripts/jquery.js")
    script(type="text/javascript" src="./javascripts/angular.min.js")
    script(type="text/javascript" src="./javascripts/ui-bootstrap.min.js")
    script(src="../app.js")
    script(src="./javascripts/moment-with-locales.js")
    link(rel='stylesheet', href='../stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet" href="/fontawesome/css/all.css")
    link(rel="stylesheet" href="/fontawesome/css/brands.css")
    link(rel="stylesheet" href="/fontawesome/css/solid.css")
  body
    include header.pug
    div.container  
      block content
