@font-face{
  font-family: "Oldie", serif;
  src: url("/html/dist/fonts/OldStandard-Regular.ttf");
}
body {
  font-family: "Old Standard TT", serif;
  background:floralwhite;
}
#navigacija {
  text-align: center;
  padding: 25px;
  box-shadow: 2px 2px 8px rgba(0,0, 0.5);
  top:0;
  width:100%;
  z-index: 1;
  background:#343a40;
  align-content: center;
  text-align: center;
  max-height: 100px;
}

#navbarLogo {
  color: #3fa46a;
}
#navSocial {
  color: #3fa46a;
}
#navbarLogo:hover {
  color:floralwhite;
  transition:1s;
}
#navSocial:hover {
  color:floralwhite;
  transition: 1s;
  background: #343a40;
}
div.container {
  padding-top: 35px;
  margin-top: 10px;
  padding-bottom: 35px;
  height: 80%;
  position: relative;
  width:960px;
  overflow: auto;
}
#linkNavi {
  transition: 0.3s ease;
  background: #343a40;
  text-decoration: none;
  padding:16px 0;
  font-size: 20px;
  letter-spacing: 10px;
  text-transform: capitalize;
  transition:1s;
}
#linkNavi.active {
  font-size:35px;
}
#linkNavi a{
  color:floralwhite;
  text-decoration: none;
}
#linkNavi:hover {

  font-size: 25px;
  padding:15px;
  text-transform: uppercase;
  transition: 1s; 
}
#navbarMeniu > li {
  padding-left:30px;
  padding-right:30px;
  list-style: none;
}
#navSocial {
  float:right;
}
#nameDiv{
  max-width: 300px;
  min-width: 300px;
}
.registrationButton {
  width: 100%;
  padding: 35px;
}
.somethingSomething {
  width: 100%;
  margin-bottom: 35px;
}
#firstOption {
  color:#999;
}
.tableTop {
  font-weight: bold;
}
i.fas.fa-user-minus {
  color: red;
}
.cucciGang {
  padding:5px;
}